.profile {
    display: flex;
    align-items: center;
    gap: 10px;
}
.user {

}


.name {
    font-family: var(--font-family-main);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
}